.forgot-btn{
    outline: none;
    border: none;
    background-color: inherit;
    color: #362821;
    font-weight: 700;
    font-size: 0.95rem;
    margin-right: 10px;
    cursor: pointer;
}

.forgot-btn:hover{
    color: #251710;
}

.forgot-form{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.forgot-form-element{
    margin: 10px 20px;
    font-size: 1.1rem;
    border: none;
    border-bottom: 1px solid #777;
    color: #555;
    outline: none;
}

.forgot-submit{
    margin: 10px auto;
    width: 25%;
    font-size: 1.1rem;
    background-color: #362821;
    color: #eee;
    border: none;
    outline: none;
    padding: 6px 0;
    border-radius: 20px;
}

.forgot-submit:hover{
    background-color: #251710;
    color: #ddd;
}

.forgot-close-btn{
    float: right;
    outline: none;
    border: none;
    color: #555;
    background-color: inherit;
    font-size: 1.2rem;
}

.forgot-close-btn:hover {
    color: #333;
}

.forgot-content{
    padding: 10px;
}

.forgot-paragraph{
    text-align: center;
    color: #777;
}