.forgot-btn{
    outline: none;
    border: none;
    background-color: inherit;
    color: #362821;
    font-weight: 700;
    font-size: 0.95rem;
    margin-right: 10px;
    cursor: pointer;
}

.forgot-btn:hover{
    color: #251710;
}

.forgot-modal-overlay{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,.1);
}

.forgot-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    min-width: 450px;
    width: 40%;
    background-color: #fff;
    outline: transparent;
    border-radius: 10px;
}

.forgot-form{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.forgot-form-element{
    margin: 10px 20px;
    font-size: 1.1rem;
    border: none;
    border-bottom: 1px solid #777;
    color: #555;
    outline: none;
}

.forgot-submit{
    margin: 10px auto;
    width: 20%;
    font-size: 1.1rem;
    background-color: #362821;
    color: #eee;
    border: none;
    outline: none;
    padding: 6px 0;
    border-radius: 40%/100%;
}

.forgot-submit:hover{
    background-color: #251710;
    color: #ddd;
}
