.login-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    color: #555;
    border-bottom: 1px solid #eee;
}

.login-info p{
    margin: 0;
    font-size: 1.4rem;
}

.account-link{
    text-decoration: none;
    color: #362821;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0 10%;
}

.account-link:hover{
    color: #251710;
}

.login-paragraph{
    text-align: center;
    color: #362821;
    font-weight: 700;
    margin: 30px 0 0 0;
    font-size: 2rem;
}

@media only screen and (min-width: 900px) {
    .login-container{
        padding: 20px;
    }

    .login-form{
        padding: 10px;
        border-bottom: initial;
    }
    
    .login-info p{
        font-size: 1.1rem;
    }
    
    .account-link{
        font-size: 1.1em;
    }
    
    .login-paragraph{
        font-size: 1.3rem;
    }
}