.social-login{
    display: flex;
    flex-direction: column;
    padding: 28px 28px 40px 28px;
}

.social-login img{
    height: 28px;
    margin-right: 10px;
}

.social-login a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #444;
    font-size: 1.4rem;
}

.social-login a:hover{
    color: #333;
}

.social-btn{
    margin: 10px auto;
}

.social-login p{
    margin: 6px 0;
}

.social-info-paragraph{
    color: #555;
    text-align: center;
    font-size: 1.4rem;
}

.social-paragraph{
    text-align: center;
    color: #362821;
    font-weight: 700;
    font-size: 2rem;
}

@media only screen and (min-width: 900px) {
    .social-login{
        flex-direction: column;
        padding: 26px;
    }

    .social-info-paragraph{
        font-size: 1.3rem;
    }
    
    .social-login img{
        height: 16px;
        margin-right: 8px;
    }
    
    .social-login a{
        font-size: 1.2rem;
    }
    
    .social-paragraph{
        font-size: 1.3rem;
    }
}