.settings-nav-bar{
    display: flex;
    align-items: center;
}

.settings-container{
    box-sizing: border-box;
}

.settings-content{
    width: 100%;
}

.settings-panel{
    margin-top: 5vh;
}

.settings-btn{
    color: #777;
    font-size: 2.4rem;
    padding: 20px 0;
    width: 20%;
    box-sizing: border-box;
}

.settings-btn:hover{
    background-color: #eee;
    color: #666;
}

.display{
    background-color: #eee;
    color: #666;
}

.not-yet{
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
}