.services-container{
    display: flex;
    align-items: center;
    width: 100%;
}

.services-side-bar{
    width: 30%;
    border-right: 1px solid #eee;
    padding: 40px 40px 40px 0;
}

.services-content{
    width: 70%;
    text-align: center;
    justify-content: center;
}

.service-form-element{
    margin: 10px auto;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
    padding: 0 5px;
    width: 100%;
}

.service-props{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service-props-element{
    margin: 10px 0;
    width: 30%;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
    padding: 0 5px;
}

.service-submit{
    padding: 6px 14px;
    background-color: #362821;
    color: #eee;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 0.9rem;
}

.service-submit:hover{
    background-color: #251710;
    color: #ddd;
}