.service-edit-btn{
    color: #777;
    font-size: 1.1rem;
}

.service-edit-btn:hover{
    color: #555;
}

.service-edit-modal{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.service-modal-element{
    margin: 20px auto;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
    padding: 0 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.service-modal-props{
    margin: 10px 0;
    width: 20%;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
    padding: 0 5px;
}

.service-edit-submit{
    float: right;
}