.services-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.services-side-bar{
    margin: 20px;
}

.services-content{
    width: 100%;
    text-align: center;
    justify-content: center;
    overflow-x: hidden;
    height: 50vh;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
}

.services-form{
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.service-props{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service-props-element{
    margin: 10px 0;
    width: 30%;
    font-size: 1.5rem;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
    padding: 0 5px;
}

@media only screen and (min-width: 900px) {
    .services-container{
        display: flex;
        flex-direction: initial;
        align-items: center;
        width: 100%;
    }
    
    .services-side-bar{
        width: 30%;
        padding: 40px;
    }
    
    .services-content{
        width: 70%;
        border-left: 1px solid #eee;
        border-bottom: initial;
    }
 
    .service-props-element{
        font-size: 1rem;
    }

    .services-form{
        padding: 0;
    }
}