.login-page-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    min-width: 500px;
    width: 50%;
}

.login-page-content{
    display: flex;
    align-items: center;
}

.login-method{
    width: 50%;
}

.side{
    border-left: 1px solid #eee;
}