.worker-add-btn{
    font-size: 1.4rem;
    color: #777;
}

.worker-add-btn:hover{
    color: #555;
}

.worker-add-modal{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.worker-add-select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.worker-add-select p{
    color: #777;
    margin: 0;
    font-size: 1.4rem;
}

.worker-option-btn{
    color: #777;
    font-size: 1.8rem;
}

.worker-option-btn:hover{
    color: #555;
}

.worker-add-service{
    margin: 10px;
    height: 30vh;
    overflow-x: hidden;
    border-bottom: 1px solid #ccc;
}

@media only screen and (min-width: 900px) {
    .worker-option-btn{
        font-size: 1.3rem;
    }

    .worker-add-btn{
        font-size: 1.1rem;
    }
    
    .worker-add-select p{
        font-size: 1rem;
    }
}