.worker-item,.worker-props, .worker-option{
    display: flex;
    align-items: center;
}

.worker-item{
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 0 20px;
}

.worker-option{
    width: 25%;
    justify-content: space-around;
}

.image-not-found{
    margin-right: 20px;
    background-color: #ddd;
    height: 8vh;
    width: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    box-sizing: border-box;
    border-radius: 5vh;
    color: #aaa;
}

.worker-props p{
    color: #777;
    font-size: 1.4rem;
}

.worker-delete-btn{
    color: #777;
    font-size: 1.4rem;
}

.worker-delete-btn:hover{
    color: #555;
}

@media only screen and (min-width: 480px) {
    .image-not-found{
        height: 16vh;
        width: 16vh;
        border-radius: 10vh;
    }
}

@media only screen and (min-width: 900px) {
    .image-not-found{
        height: 5vh;
        width: 5vh;
        font-size: 1rem;
    }

    .worker-props p{
        font-size: 1.1rem;
    }

    .worker-delete-btn{
        font-size: 1.1rem;
    }
}

@media only screen and (min-height: 900px) and (min-width: 600px) and (max-width: 1024px){
    .image-not-found{
        height: 6vh;
        width: 6vh;
        font-size: 1.5rem;
    }
}