.worker-edit-btn{
    color: #777;
    font-size: 1.4rem;
}

.worker-edit-btn:hover{
    color: #555;
}

.worker-edit-modal{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.worker-edit-form{
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 900px) {
    .worker-edit-btn{
        font-size: 1.1rem;
    }
}