.error-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.error-content p{
    color: #777;
    text-align: center;
    font-size: 1.8rem;
    margin: 0 4px;
}

.bug{
    font-size: 3.6rem !important;
}

.error-status{
    font-size: 2.4rem !important;
}

@media only screen and (min-width: 900px) {
    .error-container{
        height: initial;
    }

    .error-content{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translate(-50%, -50%);
    }

    .error-content p{
        font-size: 1.3rem;
    }
}