.visit-props{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.visit-item p{
    margin: 2px 0;
    font-size: 1.2rem;
    color: #777;
    text-align: center;
}

.visit-item{
    margin: 0 10px;
    border-bottom: 1px solid #eee;
}

.visit-option{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}

