.search-result{
    color: #362821;
    font-size: 2rem;
    margin: 4px;
    font-weight: 700;
    padding: 10px;
}

@media only screen and (min-width: 900px){
    .search-result-container{
        width: 60%;
        margin: 0 auto;
    }
}