.author-image{
    background-color: #ddd;
    color: #aaa;
    width: 6vh;
    height: 6vh;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.1rem;
    border-radius: 30px;
}

.author{
    display: flex;
    align-items: center;
}

.author-props p{
    margin: 2px 0;
    color: #777;
    font-size: 0.9rem;
}

.author-props{
    margin-left: 5px;
}

.review-star{
    display: flex;
    align-items: center;
}

.star-review{
    color: #777;
    font-size: 0.8rem;
}

@media only screen and (min-width: 480px){
    .author-image{
        width: 11vh;
        height: 11vh;
    }
}

@media only screen and (min-width: 600px){
    .author-image{
        width: 8vh;
        height: 8vh;
    }
}

@media only screen and (min-width: 900px){
    .author-image{
        width: 4vh;
        height: 4vh;
    }
}