.user-props{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    color: #777;
    font-size: 1.2rem;
}

.user-props p{
    margin: 2px 0;
}

.user-image{
    background-color: #ddd;
    color: #aaa;
    width: 10vh;
    height: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.3rem;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.user-option{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user-content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
}

.user-btn{
    color: #777;
    font-size: 1.4rem;
    padding: 20px 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-btn:hover{
    background-color: #eee;
    color: #666;
}

@media only screen and (min-width: 480px){
    .user-image{
        width: 17vh;
        height: 17vh;
    }
}

@media only screen and (min-width: 900px){
    .user-container{
        display: flex;
        text-align: center;
        width: 60%;
        margin: 0 auto;
        height: 75vh;
        align-items: center;
    }

    .user-image{
        font-size: 2.3rem;
    }

    .user-option{
        flex-direction: column;
        width: 100%;
    }

    .user-sidebar{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        border-right: 1px solid #eee;
    }

    .user-btn{
        width: 100%;
    }
}

@media only screen and (min-height: 600px) and (min-width: 600px) and (max-width: 1024px){
    .user-image{
        width: 10vh;
        height: 10vh;
    }
}