.social-container{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;
}

.social-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-info p{
    color: #777;
    margin: 4px;
    font-size: 1.4rem;
}

.social-list{
    display: flex;
    flex-direction: column;
    height: 30vh;
    overflow-x: hidden;
    border-bottom: 1px solid #ddd;
}

@media only screen and (min-width: 768px) {
    .social-container{
        padding: 50px;
    }
}

@media only screen and (min-width: 900px) {
    .social-info p{
        font-size: 1.2rem;
    }
}