.reservation-submit{
    font-size: 1rem !important;
    padding: 8px 10px !important;
    margin: 0 !important;
}

.date-btn{
    color: #777;
    font-size: 1.8rem;
}

.hours-modal-container{
    display: flex;
    flex-direction: column;
}

.date-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-list{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-btn{
    font-size: 1.6rem;
    color: #777;
    margin: 2px 4px;
    text-align: center;
}

.reservation-form{
    display: flex;
    flex-direction: column;
}

.list-worker{
    margin: 2px 0;
    color: #777;
    font-size: 1.4rem;
}

.select-date{
    font-size: 1.4rem;
    color: #777;
    display: flex;
    width: 40%;
    margin: 0 auto;
}

.actual-date{
    text-align: center;
    margin: 0;
}
