.service, .service-info{
    display: flex;
    align-items: center;
}

.service{
    width: 100%;
}

.service-info{
    justify-content: space-between;
    width: 80%;
}

.service-reservation{
    width: 20%;
    text-align: center;
}

.service-panel-element p{
    margin: 2px 0;
    font-size: 1.1rem;
    color: #777;
}

@media only screen and (min-width: 480px){
    .service-reservation{
        width: 15%;
    }

    .service-info{
        width: 85%;
    }
}

@media only screen and (min-width: 900px){
    .service{
        margin: 10px 0;
    }
}