.header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 1;
    height: 15vh;
}

.header-logo{
    align-items: center;
    display: flex;
}

.logo-name {
    color: #362821;
    font-size: 2.5rem;
    margin: 0;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
}

.header-businesses{
    padding: 6px 14px;
    background-color: #362821;
    border-radius: 25px;
    text-align: center;
    font-size: 1.1rem;
}

.header-businesses:hover{
    background-color: #251710;
    color: #ddd;
}

.businesses-link{
    text-decoration: none;
    color: #eee;
}

.header-menu{
    align-items: center;
    display: flex;
}

.login-link:hover{
    color: #333;
}

.login-link{
    color: #555;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.header-option{
    box-sizing: border-box;
    padding: 10px 0;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media only screen and (min-width: 480px) {
    .header{
        height: 25vh;
    }

    .header-option{
        height: 25vh;
    }
}

@media only screen and (min-width: 900px) {
    .header{
        padding: 0 40px;
        height: 10vh;
    }

    .header-menu{
        margin-right: 50px;
    }

    .header-option{
        height: 10vh;
        display: flex;
        flex-direction: initial;
        align-items: center;
    }

    .login-link{
        margin-right: 20px;
    }
}

@media only screen and (min-height: 900px) and (min-width: 600px) and (max-width: 1024px){
    .header{
        height: 10vh;
    }

    .header-option{
        height: 10vh;
    }
}