.service-edit-btn{
    color: #777;
    font-size: 1.4rem;
}

.service-edit-btn:hover{
    color: #555;
}

.service-edit-modal{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 900px) {
    .services-edit-element{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
}