.barber-create-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.barber-create-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;
}

.create-barber-btn{
    padding-top: 50%;
    font-size: 1.4rem;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.create-barber-btn:hover{
    color: #555;
}

