.barber-create-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.barber-create-element{
    margin: 12px auto;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
    padding: 0 5px;
    width: 100%;
}

.barber-create-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;
}

.barber-create-submit{
    margin-top: 20px;
    color: #eee;
    background-color: #362821;
    border-radius: 20px;
    padding: 8px 14px;
    font-size: 1.1rem;
}

.barber-create-submit:hover{
    background-color: #251710;
    color: #ddd;
}

.create-barber-btn{
    font-size: 1.4rem;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
}

.create-barber-btn:hover{
    color: #555;
}