.settings-nav-bar{
    display: flex;
    align-items: center;
}

.settings-content{
    padding-top: 10vh;
    margin: 0 auto;
    width: 80%;
}

.settings-panel{
    margin-top: 5vh;
}

.settings-btn{
    border: none;
    outline: none;
    background-color: inherit;
    color: #777;
    font-size: 2rem;
    padding: 20px 0;
    width: 20%;
    box-sizing: border-box;
}

.settings-btn:hover{
    background-color: #eee;
    color: #666;
}

.display{
    background-color: #eee;
    color: #666;
}

.not-yet{
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
}