.drop-down-list{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    position: absolute;   
    display:  flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    top: 15vh;
    left: 0;
    border-radius: 5px;
    width: 100%;
    z-index: 1;
}

.drop-down-item{
    border-bottom: 1px solid #eee;
}

.drop-down-item:hover{
    background-color: #eee;
}


.link{
    font-size: 1.6rem;
    text-decoration: none;
    justify-content: center;
    color: #555;
    display: flex;
    height: 10vh;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.drop-down-btn{
    font-size: 1.4rem;
    align-items: center;
    display: flex;
    color: #555;
    cursor: pointer;
}

.drop-icon{
    margin-right: 5px;
}

.drop-down-btn:hover{
    color: #333;
}

.drop-down-logout-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    border: none;
    outline: none;
    background-color: inherit;
}

@media only screen and (min-width: 480px) {
    .drop-down-list{
        top: 25vh;
    }

    .link{
        height: 20vh;
    }
}

@media only screen and (min-width: 900px) {
    .drop-down-btn{
        font-size: 1.2rem;
    }

    .drop-down-list{
        position: absolute;   
        display:  flex;
        flex-direction: column;
        z-index: 1;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
        background-color: #fff;
        top: 10vh;
        border-radius: 5px;
        left: initial;
        width: 11%;
    }
    
    .link{
        font-size: 1rem;
        height: 5vh
    }

    .drop-down-logout-btn{
        font-size: 1rem;
    }
}

.profile-image{
    height: 32px;
    margin-right: 10px;
}

@media only screen and (min-height: 900px) and (min-width: 600px) and (max-width: 1024px){
    .link{
        height: 5vh
    }

    .drop-down-list{
        top: 10vh;
    }
}