.drop-down-list{
    position: absolute;   
    display:  flex;
    flex-direction: column;
    z-index: 1;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    background-color: #fff;
    top: 63px;
    border-radius: 5px;
}

.drop-down-item{
    border-bottom: 1px solid #eee;
}

.drop-down-item:hover{
    background-color: #eee;
}


.link{
    font-size: 1rem;
    text-decoration: none;
    color: #555;
    display: flex;
    padding: 14px 24px;
    align-items: center;
}

.icon {
    margin-right: 5px;
}

.drop-down-btn{
    font-size: 1.1rem;
    align-items: center;
    display: flex;
    color: #555;
    cursor: pointer;
}

.drop-down-btn:hover{
    color: #333;
}

.drop-down-logout-btn{
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: inherit;
}