.header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 1;
    height: 10vh;
}

.header-logo{
    align-items: center;
    display: flex;
}

.logo-name {
    color: #362821;
    font-size: 2.2rem;
    margin: 0;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
}

.header-businesses{
    padding: 6px 14px;
    background-color: #362821;
    border-radius: 25px;
}

.header-businesses:hover{
    background-color: #251710;
    color: #ddd;
}

.businesses-link{
    text-decoration: none;
    color: #eee;
}

.header-menu{
    align-items: center;
    display: flex;
    margin-right: 40px;
}

.header-login{
    margin-right: 20px;
}

.login-link:hover{
    color: #333;
}

.login-link{
    color: #555;
    text-decoration: none;
    text-align: center;
    display: flex;
}


