.search-btn{
    outline: none;
    border: none;
    background-color: inherit;
    color: #555;
    font-size: 1.4rem;
    margin: 10px;
    cursor: pointer;
}

.search-btn:hover{
    color: #333;
}

.search-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.search-form-bar{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.search-form-element{
    margin: 10px 20px;
    font-size: 1.1rem;
    border: none;
    border-bottom: 1px solid #777;
    color: #555;
    outline: none;
    padding: 0 5px;
}

.search-paragraph{
    margin: 0 0 8px 0px;
    font-size: 1.6rem;
    color: #555;
    font-weight: 700;
}

@media only screen and (min-width: 900px) {
    .search-btn{
        font-size: 1.2rem;
    }
}
