.barber-owner-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.barber-owner-props{
    display: flex;
    align-items: center;
}

.barber-owner-props p{
    font-size: 1.4rem;
    color: #777;
}

.barber-owner-name{
    margin-left: 20px;
    color: #362821 !important;
    font-weight: 700;
}

.barber-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barber-content-element{
    width: 100%;
}

.barber-bottom{
    border-bottom: 1px solid #eee;
}

@media only screen and (min-width: 900px) {
    .barber-content{
        flex-direction: initial;
    }

    .barber-bottom{
        border-bottom: initial;
        border-right: 1px solid #eee;
    }
    

    .barber-owner-props p{
        font-size: 1.2rem;
    }
}