.profile-edit-btn{
    color: #777;
    font-size: 1.3rem;
}

.profile-edit-btn:hover{
    color: #555;
}

.profile-edit-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.profile-edit-form{
    display: flex;
    flex-direction: column;
}

.profile-edit-element{
    margin: 12px auto;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
    padding: 0 5px;
    width: 60%;
}

.profile-edit-submit{
    margin: 10px 0;
    background-color: #362821;
    color: #eee;
    border-radius: 20px;
    padding: 8px 14px;
    font-size: 1.1rem;
}

.profile-edit-submit:hover{
    background-color: #251710;
    color: #ddd;
}

.profile-submit{
    display: flex;
    justify-content: center;
}