.hours-panel-btn{
    border: none;
    background-color: inherit;
    outline: none;
    color: #555;
    font-size: 1.5rem;
}

.hours-panel-btn:hover{
    color: #333;
}

.hours-modal-overlay{
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,.1);
}

.hours-modal-container{
    display: flex;
    flex-direction: column;
}

.hours-close-btn{
    float: right;
    outline: none;
    border: none;
    color: #555;
    background-color: inherit;
    font-size: 1.2rem;
}

.hours-close-btn:hover {
    color: #333;
}

.hours-modal{
    padding: 8px 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    min-width: 450px;
    width: 40%;
    background-color: #fff;
    outline: transparent;
    border-radius: 10px;
}

.hours-info{
    color: #362821;
    margin: 5px auto;
    font-weight: 700;
    font-size: 1.2rem;
}

.hours-btn{
    background-color: #362821;
    color: #eee;
    border: none;
    outline: none;
    float: right;
    padding: 5px 0;
    width: 20%;
    border-radius: 20px;
    font-size: 1.1rem;
}

.hours-btn:hover{
    background-color: #251710;
    color: #ddd;
}

.hours-closed{
    outline: none;
    border: none;
    color: #555;
    background-color: inherit;
    font-size: 1.1rem;
    font-weight: 700;
}

.hours-closed:hover{
    color: #333;
}

.hours-panel-btn{
    margin: 20px 0 5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}