.form-step-service{
    width: 60%;
    margin: 10px auto;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.service-form-element{
    margin: 10px auto;
    border: none;
    border-bottom: 1px solid #777;
    color: #555;
    outline: none;
    padding: 0 5px;
    width: 100%;
}

.service-props{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service-props-element{
    margin: 10px 0;
    width: 30%;
    border: none;
    border-bottom: 1px solid #777;
    color: #555;
    outline: none;
    padding: 0 5px;
}

.service-submit{
    padding: 6px 14px;
    background-color: #362821;
    border: none;
    outline: none;
    color: #eee;
    border-radius: 20px;
    font-size: 0.9rem;
}

.service-submit:hover{
    background-color: #251710;
    color: #ddd;
}

.service-list{
    height: 25vh;
    width: 80%;
    margin: 20px auto;
    border-bottom: 1px solid #777;
    overflow: auto;
    overflow-x: hidden;
}