.form-step-hours{
    width: 60%;
    margin: 10px auto;
}

.hours-step-element{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hours-step-element p{
    margin: 2px 0;
}

.hours-day{
    color: #362821;
    font-weight: 700;
    font-size: 1.15rem;
}

.hours-step-hours{
    font-size: 1rem;
    color: #555;
}

.hours-step-submit{
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: inherit;
    color: #777;
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
}

.hours-step-submit:hover{
    color: #555;
}