.signup-content{
    display: flex;
    flex-direction: column;
}

.signup-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #555;
    padding: 0 40px 20px 40px;
}

.signup-info p{
    margin: 0;
    font-size: 1.4rem;
}

.signup-link{
    text-decoration: none;
    color: #362821;
    font-weight: 700;
}

.signup-link:hover{
    color: #251710;
}

.signup-info{
    margin-top: 10px;
}

.signup-content{
    display: flex;
    align-items: center;
}

.signup-text{
    padding: 20px 40px;
}

.signup-text-paragraph{
    color: #362821;
    text-align: center;
    font-weight: 700;
    margin: 5px;
    font-size: 2rem;
}

.signup-text-info{
    text-align: center;
    color: #555;
    font-size: 1.4rem;
}

@media only screen and (min-width: 900px) {
    .signup-container{
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 50%;
        min-width: 450px;
        padding: 20px;
    }

    .signup-content{
        flex-direction: row-reverse;
        align-items: center;
    }
    
    .signup-form{
        width: 50%;
        border-right: 1px solid #eee;
        padding: 0 20px;
    }
    
    .signup-info p{
        font-size: 0.95rem;
    }
    
    .signup-text{
        width: 50%;
        padding: 0 5%;
    }
    
    .signup-text-paragraph{
        color: #362821;
        text-align: center;
        font-weight: 700;
        font-size: 1.1rem;
    }
    
    .signup-text-info{
        text-align: center;
        color: #555;
    }
}