.worker-add-service-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.worker-add-service-btn:hover{
    background-color: #eee;
}

.worker-add-service-btn p{
    margin: 0;
    color: #777;
    font-size: 1.5rem;
}

.worker-add-service-name{
    font-weight: 700;
    color: #362821 !important;
}

.selected{
    background-color: #eee;
}

@media only screen and (min-width: 900px) {
    .worker-add-service-btn p{
        font-size: 1rem;
    }
}