.workers-container{
    display: flex;
    flex-direction: column;
}

.worker-content{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 40vh;
    margin-bottom: 40px;
}

.workers-nav-bar{
    border-bottom: 1px solid #eee;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
}

.add-image-btn{
    background-color: #ddd;
    color: #aaa;
    height: 12vh;
    width: 12vh;
    font-size: 2rem;
    border-radius: 30px;
    margin-right: 10px;
}

.add-image-btn:hover{
    color: #999;
    background-color: #ccc;
}

.worker-form{
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.worker-element{
    width: 60% !important;
}

.worker-form-object{
    display: flex;
    align-items: center;
}


@media only screen and (min-width: 480px) {
    .add-image-btn{
        height: 24vh;
        width: 24vh;
    }
}

@media only screen and (min-width: 900px) {
    .add-image-btn{
        height: 8vh;
        width: 8vh;
        font-size: 1.5rem;
        border-radius: 20px;
        margin-right: 20px;
    }
    
    .worker-form{
        align-items: center;
        justify-content: space-between;
        flex-direction: initial;
        padding: 0 40px;
    }

    .worker-content{
        width: 80%;
        height: 30vh;
        margin: 10px auto 30px auto;
        border-bottom: 1px solid #eee;
    }
}

@media only screen and (min-height: 900px) and (min-width: 600px) and (max-width: 1024px){
    .add-image-btn{
        height: 10vh;
        width: 10vh;
        font-size: 1.5rem;
        border-radius: 20px;
        margin-right: 20px;
    }
}