.error{
    color: #76020b;
    text-align: center;
}

.success{
    text-align: center;
    color: #457d24;
}

.btn{
    background-color: inherit;
    outline: none;
    border: none;
    cursor: pointer;
}

.close-btn{
    cursor: pointer;
    float: right;
    outline: none;
    border: none;
    color: #555;
    background-color: inherit;
    font-size: 1.2rem;
}

.close-btn:hover {
    color: #333;
}

.app-container{
    position: relative;
    min-height: 100vh;
}

.app-content{
    padding: 10vh 0;
    margin: 0 auto;
    width: 80%;
    min-width: 600px;
    min-height: 80vh;
}

.modal-overlay{
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,.1);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    min-width: 450px;
    width: 40%;
    background-color: #fff;
    outline: transparent;
    border-radius: 10px;
}

.facebook{
    color: #4267b2;
}

.messenger{
    color: #0084FF;
}

.twitter{
    color: #38A1F3;
}

.instagram{
    color: #231F20;
}