.error{
    font-size: 1.6rem;
    color: #76020b;
    text-align: center;
    padding: 10px;
}

.success{
    font-size: 1.6rem;
    text-align: center;
    color: #457d24;
}

.btn{
    background-color: inherit;
    outline: none;
    border: none;
    cursor: pointer;
}

.close-btn{
    cursor: pointer;
    float: right;
    outline: none;
    border: none;
    color: #555;
    background-color: inherit;
    font-size: 1.5rem;
}

.close-btn:hover {
    color: #333;
}

.app-container{
    display: flex;
    flex-direction: column;
}

.app-content{
    margin-top: 15vh;
    min-height: 55vh;
}

.modal-overlay{
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    border-radius: 10px;
    margin: auto 0;
    width: 100%;
    background-color: #fff;
}

.facebook{
    color: #4267b2;
}

.messenger{
    color: #0084FF;
}

.twitter{
    color: #38A1F3;
}

.instagram{
    color: #231F20;
}

.not-yet{
    height: 100%;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.element{
    margin: 20px;
    border: none;
    font-size: 1.5rem;
    outline: none;
    border-bottom: 1px solid #777;
}

.submit{
    background-color: #362821;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 10px 25px;
    color: #eee;
    margin: 20px auto 10px auto;
}

.submit:hover{
    background-color: #251710;
    color: #ddd;
}

.icon {
    margin-right: 8px;
}

@media only screen and (min-width: 480px) {
    .app-content{
        margin-top: 25vh;
        min-height: 35vh;
    }

    .modal{
        max-height: 100vh;
        overflow-x: auto;
    }
}

@media only screen and (min-width: 900px) {
    .app-content{
        margin-top: 10vh;
        min-height: 80vh;
    }

    .error{
        font-size: 1rem;
    }
    
    .success{
        font-size: 1rem;
    }

    .modal{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translate(-50%, -50%);
        min-width: 550px;
        width: 40%;
        background-color: #fff;
        outline: transparent;
        border-radius: 10px;
        padding: 10px;
    }

    .element{
        font-size: 1rem;
        margin: 10px 0;
    }

    .submit{
        font-size: 1rem;
        padding: 10px 25px;
        border-radius: 20px;
    }

    .not-yet{
        font-size: 1.3rem;
    }
}

@media only screen and (min-height: 900px) and (min-width: 600px) and (max-width: 1024px){
    .app-content{
        margin-top: 10vh;
        min-height: 65vh;
    }
}