.login-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    color: #555;
}

.login-form-element{
    margin: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.login-info p{
    margin: 0;
    font-size: 0.95rem;
}

.account-link{
    text-decoration: none;
    color: #362821;
    font-weight: 700;
    padding: 0 10%;
}

.account-link:hover{
    color: #251710;
}

.login-submit{
    background-color: #362821;
    border-radius: 35%/100%;
    border: none;
    width: 35%;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 6px 0;
    color: #eee;
    margin: 20px auto 10px auto;
}

.login-submit:hover{
    background-color: #251710;
    color: #ddd;
}

.login-paragraph{
    text-align: center;
    color: #362821;
    font-weight: 700;
    font-size: 1.2rem;
}