.login-page-container{
    height: 100%;
}

.login-page-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-method{
    width: 100%;
}

@media only screen and (min-width: 900px) {
    .login-page-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        min-width: 500px;
        width: 50%;
        height: initial;
    }
    
    .login-page-content{
        flex-direction: initial;
        align-items: center;
    }
    
    .login-method{
        width: 50%;
    }
    
    .side{
        border-left: 1px solid #eee;
    }
}