.social-container{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.social-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-info p{
    color: #777;
    margin: 4px;
}

.social-list{
    display: flex;
    flex-direction: column;
    height: 20vh;
    overflow-x: hidden;
    border-bottom: 1px solid #ddd;
}