.social-edit-btn{
    color: #777;
    font-size: 1.6rem;
}

.social-edit-btn:hover{
    color: #555;
}

.social-edit-modal{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.social-edit-form{
    display: flex;
    flex-direction: column;
}

.social-edit-element{
    margin: 20px auto;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
    padding: 0 5px;
    width: 80%;
}

.social-edit-submit{
    background-color: #362821;
    color: #eee;
    padding: 8px 14px;
    border-radius: 20px;
    float: right;
    margin-right: 20px;
}

.social-edit-submit:hover{
    background-color: #251710;
    color: #ddd;
}

@media only screen and (min-width: 900px) {
    .social-edit-btn{
        font-size: 1.2rem;
    }
}